<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @track.name %>
</p>

<p>
  <strong>Duration ms:</strong>
  <%= @track.duration_ms %>
</p>

<p>
  <strong>Popularity:</strong>
  <%= @track.popularity %>
</p>

<p>
  <strong>Spotify reference:</strong>
  <%= @track.spotify_reference %>
</p>

<p>
  <strong>Album:</strong>
  <%= @track.album %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @track.created_at %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
